/* Mcq 1 */
/* .edu-quiz{
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
    top: 0;
    left: 0;
}
.ag2-quiz{
    margin: 0 auto;
    background-color: grey;
    padding: 16px;
    border-radius: 16px;
    width: 80%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    height: auto;
    color: white;
  }
  
  ag2-ul-quiz{
    list-style: none;
  }
  
  ag2-li-quiz{
    background-color: darkgrey;
    border-radius: 16px;
    padding: 16px;
    border: 3px solid white;
    margin: 8px auto;
    width: 50%;
    transition-duration: 0.3s;
  }
  
  ag2-li-quiz:hover{
    box-shadow: 2px 2px 10px black;
  }
  
  
  
  .ag2-quiz-result{
    margin: 8px auto;
    background-color: grey;
    padding: 16px;
    border-radius: 16px;
    width: 80%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
                rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    height: auto;
    color: white;
  }
  
  .ag2-btn-danger{
    border-radius: 20px;
    padding: 8px;
  } */

  
/* Mcq1.css */
.ag2-hscore {
  position:absolute;
  text-align: center;
  font-size: 2rem;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  color: grey;
  top: 4rem;
}
.edu-quiz {
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center; 
  top: 0;
  left: 0;
}



.ag2-quiz {
  margin: 0 auto;
  
  background-color: grey;
  padding: 16px;
  border-radius: 16px;
  width: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
              rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  height: auto;
  color: white;
}
.ag2-quiz h1{
  color: aliceblue;
}

.ag2-ul-quiz {
  list-style: none;
}

.ag2-li-quiz {
  background-color: darkgrey;
  border-radius: 16px;
  padding: 16px;
  border: 3px solid white;
  margin: 8px auto;
  width: 50%;
  transition-duration: 0.3s;
}


@media (max-width: 767px) {
  .ag2-quiz {
    width: 90%;
  }

  .ag2-li-quiz {
    width: 100%;
  }
}
